
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}
.container{
    max-width: 80rem;
margin: 0 auto;
 
}
img{
    width: 100%;
}

/*line top*/
.line-top{
   display: flex; 
   align-items: center;
   justify-content: space-between;
   padding: 0.25rem 5rem;
   background-color: black;
   width: 100%;
    
}
.logo{
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: lowercase;
    font-style: italic;
    position: relative;
   
}



.social-media{
    display: flex;
    align-items: center;
}
.social-media i{
  
   margin-right: 5px;
   color: white;
   padding: 0.2rem;
   font-size: 1.2rem;
}
/* end line top*/







.navegation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
    position: relative;
    background-color: #2d2d2d;
    width: 100%;
    flex-wrap: wrap;
}


/* menu*/
#menu{
    list-style: none;
    position: relative;
    padding: .35rem .55rem;
}

a{
    text-decoration: none;
    color: rgb(122, 119, 119);
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 500;
}


#menu{
    display: flex;
    align-items: center;
     padding: 0.45rem;
     position: relative;
    
}
#menu li a{
margin-right: 5px;
padding: 0.2rem;
transition: .3s;
position: relative;
color: #fff;
}
#menu li a:hover{
    color:rgb(5, 177, 207) ;
}

#menu li a::after{
content: '';
width: 40px;
height: 0;
position: absolute;
background-color: rgb(5, 177, 207) ;
transform: translate(-50%);
left: 50%;
bottom: 0;
transition: .3s;
}
#menu li a:hover::after{
    height: 2px;
}

/* end menu*/




/*  menu burguer*/

.burguer{
    cursor: pointer;
    position: absolute;
    display: none;
}
.burguer div{

    width: 40px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 5px 0;
  
    
}


/* end  menu burguer*/









/* search*/

.search{
    background-color: rgb(255, 255, 255);
    position: relative;
    padding: 0.35rem 0.55rem;
    display: flex;
    align-items: center;
    border-radius: 0.55rem;
}
.input-s{
border: none;
outline: none;
background: transparent;
color: rgb(0, 0, 0);
position: relative;

}
.search i{
 color: white;
background-color: rgb(5, 177, 207);
padding: 0.45rem ;
cursor: pointer;
width: 100%;
height: 100%;
border-radius: 50%;
}

/* end search*/






/* slide-container*/

.slide-container{
height: 500px;
width: 100%;
position: relative;



}

.swiper-slide{
position: relative;
}
.swiper-slide img{
position: relative;
background-size: cover;
background-position: center center;
width: 100%;
height: 100%;
}
.btn-slide::after{
color: rgb(255, 255, 255);
}

.box-t{
position: absolute;
width: 100%;
color: rgb(255, 255, 255);
height: 100%;
justify-content: center;
display: flex;
flex-direction: column;
bottom: 0;
text-align: center;

}
.title-s{
font-size: 1.8rem;
font-weight: 700;
text-transform: uppercase;
}
.inner-text{
font-size: 1rem;
font-style: normal;
}

/* end slide-container*/



/* service*/

.section{
    padding: 3rem 0;
}

.section-header{
    text-align: center;
    justify-content: center;
}
.section-header .text{
    text-align: center;
    justify-content: center;
    margin-top: 0.55rem;
  color: gray;
  font-size: small;
  line-height: 1.3;
 }

.title{
    color: gray;
    font-size: 1.2rem;
    font-weight: 500;
}
.box-single{
   display: flex;
   align-items: center;
   justify-content: center;
   justify-content: space-around;
   flex-wrap: wrap;
}
.box-wrapper{
    margin-top: 1rem;
}
.box-content{
    max-width: 290px;
    justify-content: center;
    text-align: center;
    transition: .6s;
}
.box-content:hover{
    transform: translateY(15px);
}
.box-content i{
    font-size: 4rem;
    color: gray;
    transition: 1s;
}
.box-content i:hover{
    color: rgb(5, 177, 207) ;
}
.text-box{
    font-size: small;
    margin: .50rem 0;
}
.span{
    color: gray;
    padding: 0.30rem 0;
}
.span span{
    color: black;
}
/* end service*/


/* gallery*/

.gallery{
    width: 100%;
   background-color: rgba(236, 233, 233, 0.836);
   position: relative;
   border-radius: 5px;
}
.overlay{
    position: absolute;
    top: -50px;
    left: 50%;
   transform: translate(-50%);
   z-index: -1;

}
.overlay i{
    font-size: 6rem;
    color: rgba(236, 233, 233, 0.836) ;
 

}
.gallery-box{
    margin-top: 1rem;
}
.gallery-wrapper{
    margin-top: 1rem;
}


.gallery-single{
    display: flex;
    align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}
.gallery-content{
    max-width: 290px;
    height: auto;
   box-shadow:  0px 1px 3px 1px rgba(0, 0,0,0.5);
   margin:  6px;

}
.box-g{
    padding: 0.60rem .75rem;
}

.gallery-content .span{
    color: black;
   font-size: 1rem;
   text-align: left;
   font-weight: 500;
   text-transform:lowercase;

}
.text-g{
    text-align: left;
    font-size: small;
}
/* end gallery*/





/* conquista*/
.conquista-single{
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}
.conquista-single i{
    font-size: 40px;
   color:  rgb(5, 177, 207);
  
}
.conquista-content{
    padding: 1rem 2.8rem;
    border-radius: 9px;
    position: relative;
    margin-top: 1rem;
    overflow: hidden;
}
.conquista-content i{
    position: absolute;
    color:  rgb(5, 177, 207);
    top: 10px;
   transform: translateY(-50%);
    font-size: 80px;
    opacity: 0.4;
    margin-top: 1rem;
    width: 100%;
    transition: 1s;

}


.conquista-content:hover i{
    transform: rotate(-90deg);
    color: rgb(0, 255, 0);
    transform: translate(-50%,-50%);
    
}

.conquista-content .title-C{
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    transition: .3s;
    font-weight: 500;


}
#style-c{
    background-color: rgb(5, 177, 207) ;
    padding: 10px;
    transition: .6s;
}
#style-c:hover{
background-color: rgb(0, 255, 0);
cursor: pointer;
border-radius: 10px;
color: white;
}
/*end conquista*/


/*footer*/

.footer-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
 align-items: center;
 background-color: #2d2d2d;
}
.footer-dev{
padding: 1rem 2rem;
}
.f-title{
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 1rem;
}
.text-f{
    color: gray;
    font-size: small;
    line-height: 1.6;
}
span i{
color: rgb(5, 177, 207) ;
margin-top: 10px;
}
span{
    color: gray;
}
.f-top{
    border-bottom: 1px solid rgba(128, 128, 128, 0.116);
    padding: 1.5rem 0;
}
.f-bottom{
    margin-top: 1rem;
}
.f-bottom li{
    list-style: none;
   margin: 10px 0;
   color: gray;
   font-size: small;
}
.f-bottom i{
color:  rgb(5, 177, 207);
margin-right: 6px;

}

.footer-single{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    width: 100%;
    color: white;
    padding: 1rem 0;
    font-size: small;
}
.footer-single i{
    font-size: 30px;
    margin-right: 13px;
}
/*end footer*/

@media screen and (max-width:768px) {




    .burguer{
        display: inline-block ;
        top: 15px;
        left: 10px;
        z-index: 6;
        }
        .logo{
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
        }
        .social-media i{
            width: 100%;
            text-align: right;
        }
      
    .line-top{
     position: fixed;
        z-index: 5;
       flex-direction: column;
    
    }
 
    .navegation{
        z-index: 4;
        width: 100%;
      height: 100vh;
        position: fixed;
        padding: 0 3rem;
     background: linear-gradient(135deg , black,#050a30);
     transition: .6s ease-in;
     overflow-y: hidden;

     transform: translateY(-100%);
     
    }
   .navegation.active.navegation{
    transform: translateY(0);
   }
   


    #menu{
       flex-direction: column;
       width: 100%;
     height:50%;
       justify-content: space-around;
   



    }
    #menu  li a {
        font-size: 1.1rem;
        width: 100%;
        padding: 0;
        margin-right: 0;

      
    }
   

    .search{
        position: absolute;
        top: 70px;
        right: 10px;
        
       
    }


   .slide-container{
    height: 100%;
   }
   
   .btn-slide::after{
    display: none;
   }
   .box-t{
    padding: 3rem 0 1rem 0;
   }
   .title-s{
    font-size: small;
   }
   .inner-text{
    font-size: smaller;
   }
  

   .footer-container{
    display: grid;
    grid-template-columns: 1fr;
   }

   .footer-single{
    flex-direction: column;
   }
   .footer-link{
    margin-top: 1rem;
   }
}

